<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Heeeey muy buenas a todos guaaaapisimoos<%= title %></p>
    </br>
    <h2>Ya hice el primer Lab :D </h2>
    <br>
    <h3>Hola desde GitHub CodeSpaces</h3>
    </body>


  </body>
</html>
